<ActionBar flat="true" title="InfoCEsoft" class="actionBar-color"></ActionBar>
<StackLayout>
  <StackLayout>
    <android>
      <SegmentedBar [items]="segmentedBarItems" 
        selectedIndex="0" 
        (selectedIndexChange)="ChangetabIndexAndroid($event)"
        class="tabview-android">
      </SegmentedBar>
    </android>
    <ios>
      <StackLayout class="ios-tabview" orientation="horizontal">
        <Button class="tabview-ios" [ngClass]="(selectedItemIndex == 0) ? 'tab-selected' : '' "
          (tap)="ChangetabIndexIOS(0)" text="INFORMACIÓN">
        </Button>
        <Button class="tabview-ios" [ngClass]="(selectedItemIndex == 1) ? 'tab-selected' : '' "
          (tap)="ChangetabIndexIOS(1)" text="HISTÓRICO">
        </Button>
      </StackLayout>
    </ios>
  </StackLayout>
  <StackLayout [visibility]="selectedItemIndex === 0 ? 'visible' : 'collapsed'">
      <RadListView height="100%" [items]="dataNotification">
      <ng-template tkListItemTemplate let-item="item">
        <StackLayout>
            <CardView class="box" margin="10" elevation="20" radius="20">
              <StackLayout class="label-container" orientation="horizontal">
                <Label class="far icon" text="&#xf0a4;"></Label> 
                <Label class="notify-label m-l-5" text="{{item.mensaje}}" textWrap="true"></Label>
              </StackLayout> 
            </CardView>
        </StackLayout>
      </ng-template>
  </RadListView>
  </StackLayout>
  <StackLayout [visibility]="selectedItemIndex === 1 ? 'visible' : 'collapsed'">
    <Label text="tab 2" textWrap="true"></Label>
  </StackLayout>
</StackLayout>