
.actionBar-color{
    border-width: 1px;
    border-color: transparent;
    background-color: #83a4f6d0;
 }

.ios-tabview{
    width: 100%;
}

.tabview-android{
    background-color: #83a4f6d0;
    selected-background-color: #6b6b6b;
}

.tabview-ios{
    background-color: #83a4f6d0;
    border-radius: 0px;
    font-family: Arial;
    font-size: 15sp;
    border-color: transparent;
    border-width: 1;
    text-align: center;
    width: 50%;
    padding: 10dp 0dp 10dp 0dp;
}

.tab-selected{
    border-bottom-color: #6b6b6b;
    border-bottom-width: 5dp;
}